.title {
    text-align: center;
}
.chat-content {
    width: 500px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
}
.message {
    width: 400px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
}
.message input {
    padding: 10px;
    width: 380px;
    border-style: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.message input:focus{
    outline: none;
}
.message button {
    border: none;
}
.message button img {
    width: 40px;
    height: 40px;
}

.btn {
    padding: 20px;
    text-align: center;
}

.btn button {
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #A8A81F;
}
.btn button:last-child {
    margin-left: 6cap;
    background-color: #1ED483;
}

.my-msg{
	width: 100%;
	text-align: right;
}
.not-my-msg{
	width: 100%;
	text-align: left
}