<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployMapper">
	<resultMap type="EmployVO" id="rsetToEmploy">
		<id property="employNo" column="EMPLOY_NO" />
		<result property="employName" column="EMPLOY_NAME" />
		<result property="recruitStartDate" column="RECRUIT_START_DATE" />
		<result property="recruitEndDate" column="RECRUIT_END_DATE" />
		<result property="recruitNumber" column="RECRUIT_NUMBER" />
		<result property="education" column="EDUCATION" />
		<result property="workplaceAddress" column="WORKPLACE_ADDRESS" />
		<result property="workplaceName" column="WORKPLACE_NAME" />
		<result property="salary" column="SALARY" />
		<result property="workingPeriod" column="WORKING_PERIOD" />
		<result property="workingStartTime" column="WORKING_START_TIME" />
		<result property="workingEndTime" column="WORKING_END_TIME" />
		<result property="workingDay" column="WORKING_DAY" />
		<result property="employDetail" column="EMPLOY_DETAIL" />
		<result property="writeTime" column="WRITE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="employFileName" column="EMPLOY_FILE_NAME" />
		<result property="employFileRename" column="EMPLOY_FILE_RENAME" />
		<result property="employFilePath" column="EMPLOY_FILE_PATH" />
		<result property="writerId" column="WRITER_ID" />
		<result property="jobNo" column="JOB_NO" />
		<result property="score" column="SCORE"/>
	</resultMap>
	<select id="selectList" resultMap="rsetToEmploy" >
		SELECT * FROM EMPLOY
		<if test="selectOption == 'none'"></if>
		<if test="selectOption == 'recent'">
			ORDER BY WRITE_TIME DESC
		</if>
		<if test="selectOption == 'score'">
			ORDER BY SCORE DESC
		</if>
	</select>
	<insert id="insertEmploy">
		INSERT INTO EMPLOY VALUES(SEQ_EMPLOY_NO.NEXTVAL,#{employName}, #{recruitStartDate}, #{recruitEndDate}, #{recruitNumber}, #{education}, #{workplaceAddress}, #{workplaceName}, #{salary}, #{workingPeriod}, #{workingStartTime}, #{workingEndTime}, #{workingDay}, #{employDetail},SYSTIMESTAMP,SYSTIMESTAMP, #{employFileName}, #{employFileRename}, #{employFilePath}, #{writerId}, #{jobNo}, DEFAULT)
	</insert>
	<select id="selectOneDetail" resultMap="rsetToEmploy">
		SELECT * FROM EMPLOY WHERE EMPLOY_NO = #{employNo}
	</select>
	<select id="selectListById" resultMap="rsetToEmploy">
		SELECT * FROM EMPLOY WHERE WRITER_ID = #{id}
	</select>
	<select id="selectOneByNo" resultMap="rsetToEmploy">
		SELECT * FROM EMPLOY WHERE EMPLOY_NO = #{employNo}
	</select>
	<delete id="deleteEmploy">
		DELETE FROM EMPLOY WHERE EMPLOY_NO = #{employNo}
	</delete>
	<delete id="deleteEmployNo">
		DELETE FROM EMPLOY WHERE EMPLOY_NO = #{employNo}
	</delete>
	<update id="updateEmploy">
		UPDATE EMPLOY SET EMPLOY_NAME=#{employName}
		, JOB_NO=#{jobNo}, RECRUIT_NUMBER=#{recruitNumber}
		, RECRUIT_START_DATE=#{recruitStartDate}
		, RECRUIT_END_DATE=#{recruitEndDate}, EDUCATION=#{education}
		, WORKPLACE_NAME=#{workplaceName}, WORKPLACE_ADDRESS=#{workplaceAddress}
		, SALARY=#{salary}, WORKING_PERIOD=#{workingPeriod}
		, WORKING_START_TIME=#{workingStartTime}, WORKING_END_TIME=#{workingEndTime}, WORKING_DAY=#{workingDay}
		, EMPLOY_FILE_NAME=#{employFileName}, EMPLOY_DETAIL=#{employDetail}
		, EMPLOY_FILE_RENAME=#{employFileRename}, EMPLOY_FILE_PATH=#{employFilePath} 
		WHERE EMPLOY_NO = #{employNo}
	</update>
	<update id="updateEmployScore">
		UPDATE EMPLOY SET SCORE=(SELECT ROUND(AVG(REVIEW_SCORE)) FROM REVIEW_EMPLOY WHERE EMPLOY_NO=#{employNo}) WHERE EMPLOY_NO=#{employNo}
	</update>
	<select id="selectSearchList" resultMap="rsetToEmploy">
		SELECT * FROM EMPLOY 
		<where>
			<if test="selectOption == 'none'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%'
			</if>
			<if test="selectOption == 'recent'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%' ORDER BY WRITE_TIME DESC
			</if>
			<if test="selectOption == 'score'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%' ORDER BY SCORE DESC
			</if>
		</where>
	</select>
	<select id="getCountSearchList" resultType="_int">
		SELECT COUNT(*) FROM EMPLOY 
		<where>
			<if test="selectOption == 'none'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%'
			</if>
			<if test="selectOption == 'recent'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%' ORDER BY WRITE_TIME DESC
			</if>
			<if test="selectOption == 'score'">
				WORKPLACE_ADDRESS LIKE '%'||#{eSearchKeyword}||'%' ORDER BY SCORE DESC
			</if>
		</where>
	</select>
	<select id="headerSearchList" resultMap="rsetToEmploy">
		SELECT * FROM EMPLOY 
		<where>
			<if test="selectOption == 'none'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="selectOption == 'recent'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%' ORDER BY WRITE_TIME DESC
			</if>
			<if test="selectOption == 'score'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%' ORDER BY SCORE DESC
			</if>
		</where>
	</select>
	<select id="getCountHeaderSearchList" resultType="_int">
		SELECT COUNT(*) FROM EMPLOY 
		<where>
			<if test="selectOption == 'none'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="selectOption == 'recent'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%' ORDER BY WRITE_TIME DESC
			</if>
			<if test="selectOption == 'score'">
				EMPLOY_NAME LIKE '%'||#{searchKeyword}||'%' ORDER BY SCORE DESC
			</if>
		</where>
	</select>
	<!-- 페이징처리 코드추가 -->
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM EMPLOY 
	</select>
</mapper>