<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MatchMapper">
	<resultMap type="MatchVO" id="rsetToMatch">
		<id property="matchNo" column="MATCH_NO"/>
		<id property="employeeId" column="EMPLOYEE_ID"/>
		<result property="employNo" column="EMPLOY_NO"/>
		<result property="employeeYn" column="EMPLOYEE_YN"/>
		<result property="employerYn" column="EMPLOYER_YN"/>
		<result property="jobStartTime" column="JOB_START_TIME"/>
		<result property="jobEndTime" column="JOB_END_TIME"/>
		<result property="jobEndYn" column="JOB_END_YN"/>
		<result property="jobStartYn" column="JOB_START_YN"/>
	</resultMap>
	<resultMap type="com.lildang.spring.member.controller.dto.MatchJoinRequest" id="rsetToMatchJoin">
		<result property="employeeId" column="EMPLOYEE_ID"/>
		<result property="employeeName" column="EMPLOYEE_NAME"/>
		<result property="employNo" column="EMPLOY_NO"/>
		<result property="employName" column="EMPLOY_NAME"/>
		<result property="employeeYn" column="EMPLOYEE_YN"/>
		<result property="employerYn" column="EMPLOYER_YN"/>
		<result property="jobStartTime" column="JOB_START_TIME"/>
		<result property="jobEndTime" column="JOB_END_TIME"/>
		<result property="jobEndYn" column="JOB_END_YN"/>
		<result property="jobStartYn" column="JOB_START_YN"/>
	</resultMap>
	<insert id="apply">
		INSERT INTO MATCH VALUES(SEQ_MATCH_NO.NEXTVAL, #{employeeId}, #{employNo}, 'Y','N',NULL,NULL,NULL,'N')
	</insert>
	<select id="selectOne" resultMap="rsetToMatch">
		SELECT * FROM MATCH WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</select>
	<update id="applyUpdate">
		UPDATE MATCH SET EMPLOYEE_YN='Y' WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
	<update id="offerUpdate">
		UPDATE MATCH SET EMPLOTER_YN='Y' WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
	<insert id="offer">
		INSERT INTO MATCH VALUES(SEQ_MATCH_NO.NEXTVAL, #{employeeId}, #{employNo}, 'N','Y',NULL,NULL,NULL,'N')
	</insert>
	<select id="selectEList" resultMap="rsetToMatchJoin">
		SELECT MATCH.EMPLOYEE_ID EMPLOYEE_ID, MATCH.EMPLOY_NO EMPLOY_NO, MEMBER.NAME EMPLOYEE_NAME,
		MATCH.EMPLOYEE_YN EMPLOYEE_YN, MATCH.EMPLOYER_YN EMPLOYER_YN, EMPLOY.EMPLOY_NAME EMPLOY_NAME
		, MATCH.JOB_START_TIME JOB_START_TIME, MATCH.JOB_END_TIME JOB_END_TIME 
		, MATCH.JOB_END_YN JOB_END_YN, MATCH.JOB_START_YN JOB_START_YN 
		FROM MATCH 
		INNER JOIN EMPLOY ON MATCH.EMPLOY_NO = EMPLOY.EMPLOY_NO 
		INNER JOIN MEMBER ON MEMBER.ID = MATCH.EMPLOYEE_ID 
		WHERE EMPLOY.WRITER_ID = #{id}
	</select>
	<select id="selectEEList" resultMap="rsetToMatchJoin">
		SELECT MATCH.EMPLOYEE_ID EMPLOYEE_ID, MATCH.EMPLOY_NO EMPLOY_NO, MEMBER.NAME EMPLOYEE_NAME,
		MATCH.EMPLOYEE_YN EMPLOYEE_YN, MATCH.EMPLOYER_YN EMPLOYER_YN, EMPLOY.EMPLOY_NAME EMPLOY_NAME
		, MATCH.JOB_START_TIME JOB_START_TIME, MATCH.JOB_END_TIME JOB_END_TIME 
		, MATCH.JOB_END_YN JOB_END_YN, MATCH.JOB_START_YN JOB_START_YN  
		FROM MATCH 
		INNER JOIN EMPLOY ON MATCH.EMPLOY_NO = EMPLOY.EMPLOY_NO 
		INNER JOIN MEMBER ON MEMBER.ID = MATCH.EMPLOYEE_ID 
		WHERE MATCH.EMPLOYEE_ID = #{id}
	</select>
	<update id="startJob">
		UPDATE MATCH SET EMPLOYEE_YN='Y', EMPLOYER_YN='Y',JOB_START_TIME=SYSTIMESTAMP
		,JOB_START_YN='Y' WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
	<delete id="matchDelete">
		DELETE FROM MATCH WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</delete>
	<update id="matchFinish">
		UPDATE MATCH SET JOB_END_TIME=SYSTIMESTAMP, JOB_END_YN='Y' WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
	<update id="matchAccept">
		UPDATE MATCH SET EMPLOYEE_YN='Y' WHERE EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
</mapper>