<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<resultMap type="ReviewMemberVO" id="rsetToReviewMember">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="reviewWriter" column="REVIEW_WRITER"/>
		<result property="reviewScore" column="REVIEW_SCORE"/>
		<result property="reviewDetail" column="REVIEW_DETAIL"/>
		<result property="writeTime" column="WRITE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="employeeId" column="EMPLOYEE_ID"/>
		<result property="employNo" column="EMPLOY_NO"/>
	</resultMap>
	<resultMap type="ReviewEmployVO" id="rsetToReviewEmploy">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="reviewWriter" column="REVIEW_WRITER"/>
		<result property="reviewScore" column="REVIEW_SCORE"/>
		<result property="reviewDetail" column="REVIEW_DETAIL"/>
		<result property="writeTime" column="WRITE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="employNo" column="EMPLOY_NO"/>
	</resultMap>
	<resultMap type="com.lildang.spring.employ.controller.dto.EmployReviewRequest" id="rsetToER">
		<result property="reviewScore" column="REVIEW_SCORE"/>
		<result property="reviewDetail" column="REVIEW_DETAIL"/>
		<result property="id" column="ID"/>
	</resultMap>
	<insert id="reviewEmployeeInsert">
		INSERT INTO REVIEW_MEMBER VALUES(SEQ_REVIEW_MEMBER_NO.NEXTVAL
		,#{reviewScore},#{reviewDetail},DEFAULT, DEFAULT,#{employNo},#{reviewWriter},#{employeeId})
	</insert>
	<select id="selectReviewList" resultMap="rsetToReviewMember">
		SELECT * FROM REVIEW_MEMBER WHERE REVIEW_WRITER=#{id}
	</select>
	<update id="reviewEmployeeUpdate">
		UPDATE REVIEW_MEMBER SET REVIEW_SCORE=#{reviewScore}, REVIEW_DETAIL=#{reviewDetail}, UPDATE_TIME=SYSTIMESTAMP 
		WHERE REVIEW_WRITER=#{reviewWriter} AND EMPLOYEE_ID=#{employeeId} AND EMPLOY_NO=#{employNo}
	</update>
	<insert id="reviewEmployInsert">
		INSERT INTO REVIEW_EMPLOY VALUES(SEQ_REVIEW_EMPLOY_NO.NEXTVAL
		,#{reviewScore},DEFAULT,DEFAULT,#{reviewDetail},#{employNo},#{reviewWriter})
	</insert>
	<select id="selectReviewEmployList" resultMap="rsetToReviewEmploy">
		SELECT * FROM REVIEW_EMPLOY WHERE REVIEW_WRITER=#{reviewWriter}
	</select>
	<update id="reviewEmployUpdate">
		UPDATE REVIEW_EMPLOY SET REVIEW_SCORE=#{reviewScore}, REVIEW_DETAIL=#{reviewDetail}, UPDATE_TIME=SYSTIMESTAMP 
		WHERE REVIEW_WRITER=#{reviewWriter} AND EMPLOY_NO=#{employNo}
	</update>
	<select id="selectERList" resultMap="rsetToER">
		SELECT RE.REVIEW_SCORE REVIEW_SCORE, RE.REVIEW_DETAIL REVIEW_DETAIL, MEMBER.NAME ID FROM REVIEW_EMPLOY RE JOIN MEMBER ON REVIEW_WRITER = ID 
		WHERE RE.EMPLOY_NO = #{employNo}
	</select>
</mapper>