@charset "UTF-8";
.condition{
    text-align: center;
    margin-top: 50px;
}
.location{
    font-size: 20px;
    background-color: #eee;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #eee;
    
}
.location:hover{
	background-color: #d9d9d9;
}
.conditionbtn{
    text-align: center;
    margin-top: 20px;
    
}    

.cbtn2{
    border-radius: 15px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
    cursor:pointer;
    border: 1px solid #eee;
}
.cbtn2:hover{
	background-color: #1ED483;
}
.jobinf{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.infword{
    width: 130px;
}
.infoption{
    font-size: 25px;
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 15px;
    height: 40px;
    margin-top: 20px;
    margin-left: 900px;
}
.inftable{
    width: 1500px;
    margin: 0 auto;
    justify-content: center;
    
}
.title td{
	background-color: #d9d9d9;
}
.table1{
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
    width: 1500px;
   
    
}
.table1 tr  td{
    /*지운것
    border-top: none;
    border-left: none;
    */
    /*추가한거
    
    */
    border: 1px solid black;
    padding: 3px;
    
}
.table1 .d1{
    
}
.circle{
    border: 1px solid black;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    font-size: 1px;
    float: left;
    margin-top: 10px;
    background-color: red;
}
.circle1{
    border: 1px solid black;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    font-size: 1px;
    float: left;
    margin-top: 10px;
}
.title{
    font-weight: bolder;
}
.location{
	cursor:pointer;
}
.job{
	cursor:pointer;
}
.day{
	cursor:pointer;
}
.detail{
	cursor:pointer;
}
.emptitle a{
	text-decoration-line:none;
	color: #1ed483;
}
.emptitle a:hover{
	color:#b2f2bb;
}

.page{
	text-align:center;
}

.pagination{
	/*지운거여기적기
	display: flex;
	
	*/
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	padding:0;
	align-items:center;
	list-style: none;
}
.pagination num{
	/*
	color: #222;
	아래코드는 어디감???
	*/
	/*justify-content:center;
	align-items:center;
	padding: 5px;
	border:1px solid #eee;
	background-color: #b2f2bb;
	text-decoration:none;
	min-width: 35px;
	height:35px;
	line-height: 1.5;*/
	
}
.pagination li{
	list-style-type: none;
	text-align:center;
	display: inline;
}
.next{
	/*
	margin-top: 20px;
	text-align:center;
	*/
	
	
}
.pagination a{
	/*추가
	display:block; <--세로로만들어줌...
	text-decoration: none; <--밑줄없애는거!
	padding:5px 12px; <--페이지 간격 넓히는거!
	line-height: 1.5;??
	float: left; 다음버튼 내려가서뺐음!
	*/
	
	
	border-radius: 8px;
	font-size:20px;
	text-decoration: none;
	padding:5px 12px;
	line-height: 1.5;
	color: black;
	transition: background-color 0.3s, color 0.3s;
	
}
.pagination a:hover{
	background-color: #1ed483;
}
.pagination .active{
	background-color:#256b4c;
	color: #fff;
	border-color:#256b4c;
}
.pagination .back,
.pagination .next{
	padding: 8px 15px;
}
.back{
	 margin-right: 15px;
}
.next{
	 margin-left: 15px;
}