@charset "UTF-8";


#insertmain {
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 15px;
	width: 700px;
	font-size: 30px;
	padding: 5px;
	margin-top: 50px;
	margin-bottom:50px;
	font-weight: bold;
}
#employName{
	margin:5px;
}
input{
	height: 30px;
	font-size: 20px;
	border-radius: 15px;
	margin:5px;
}
select{
	height: 30px;
	font-size: 20px;
	border-radius: 15px;
	margin:5px;
}
textarea{
	width: 500px;
}