@charset "UTF-8";

.modal {
	position: absolute;
	display: none;
	
	justify-content: center;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.modal-body {
	position: absolute;
	top: 30%;
	
	width: 500px;
	height: 600px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 10px;
}
.mtitle1{
	width:300px;
	color: #1ed483;
	text-align: center;
	margin-left:100px;
}
.employ-box{	
	font-size: 20px;
}
.employ-box table{
	margin-left: 100px;
	margin-top: 50px;
	text-align: center;
}
.employ-box tr td{
	border-radius: 15px;
	height: 20px;
	padding: 5px;
}
.emp-name{
	width: 200px;
}
.cbtn{
	width: 90px;
}
.bottom-btn{
	background-color: #b2f2bb;
	margin: 50px 5px 0px 150px;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	cursor: pointer;
}
.bottom-btn:hover{
	background-color:#1ed483;
}
.back-btn{
	background-color:#c0c0c0;
	margin-left: 5px;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	cursor: pointer;
}
.back-btn:hover{
	background-color: #979797;
}
.update-review {
	position: absolute;
	display: none;
	
	justify-content: center;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.update-review-body {
	position: absolute;
	top: 30%;
	
	width: 500px;
	height: 600px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 10px;
}
.report {
	position: absolute;
	display: none;
	
	justify-content: center;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.report-body {
	position: absolute;
	top: 30%;
	
	width: 500px;
	height: 600px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 10px;
}
.report-body h1{
	margin-left: 130px;
	margin-bottom: 20px;
}
.reportBtn button{
	padding : 15px 30px;
	border-radius : 20px;
	margin-top : 10px;
	background-color : #A8A81F;
	border : none;
}
.report-content {
	text-align : center;
	width: 300px;
	margin-left: 100px;
}
.report-content placeholder{
	width:200px;
}
.report-content input {
	padding : 15px;
	border-radius : 20px;
}
.report-area {
	text-align : center;
	margin-top: 30px;
}
.rbtn{
	background-color: #b2f2bb;
	margin: 30px 5px 0px 140px;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	cursor: pointer;
}
.rbtn:hover{
	background-color: #1ed483;
}