.head {
	text-align : center;
}
.report-btn {
	display : flex;
	justify-content : center;
	gap : 40px;
	margin-top : 20px;
}
.report-btn button {
	padding : 10px;
	border : none;
	border-radius : 5px;
	background-color : #b2f2bb;
}
main {
    width: 80%;
    padding: 50px 0;
    border-radius: 5px;
    margin: 0 auto;
}
.cv-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 20px;
}
.sidebar {
    width: 330px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.profile-img img{
	width: 150px;
	height: 150px;
	border: 1px solid #222;
	border-radius: 100px;
	margin: 0 auto;
}

.img-input input{
	margin: 0 auto;
	width: 150px;
	height: 20px;
	margin-top: 30px;
	border-radius: 15px;
}

td {
    border: 1px solid #ddd;
}
.introduce {
    margin-top: 40px;
}

#profile-contact {
    margin: 25px;
    padding: 15px;
    font-weight: bold;
    background-color: #1ed483;
    border-radius: 20px;
    margin: 30px 0 0 0;
}

.profile-contact{
	text-align: left;
	font-weight: bold;
}

.profile contact a{
	font-weight: bold;
}
.profile-name{
	font-size: 30px;
}
.profile-education{
    margin: 0;
    padding: 15px;
    font-weight: bold;
    background-color: #1ed483;
    border-radius: 20px;
}
.profile-education-school input{
    padding: 10px;
    border-radius: 10px;
    background-color: #FFECEC;
    width: 80%;
    border: none;
    margin-top: 30px;
}

.edu-input{
	margin-top: 15px;
	padding: 10px;
    border-radius: 10px;
    width: 80%;
    border: 1px solid #f2f2f2;
}
.edu-input p{
	font-size: 15px;
}

.content-area {
    width: 100%;
}
.title-container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.job-title {
    background-color: #1ed483;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.job-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

.job-option input{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 30px;
	cursor: pointer;
	
}
.edu-input{
	text-align: center;
	display: flex;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.insert-btn {
	margin-bottom: 10px;
	border-radius: 15px;
	cursor: pointer;
	
}

.job-career, .job-license {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 15px;
}

#career, #license {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.btn button{
    background-color: #b2f2bb;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.btn{
	margin-top: 30px;
	text-align: center;
}
.btn button{
	margin: 10px;
}
.btn button:hover{
	background-color: #1ed483;
}
.job-introduce{
	margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.job-introduce textarea{
	width:1000px;
}
.insert-btn button{
	border-radius: 10px;
	font-size: 20px;
}
.insert-btn button:hover{
	background-color:#979797;
}
#career td{
	border-radius: 10px;
}	
#license td{
	border-radius: 10px;
}
#license td input{
	border-radius: 10px;
	border: none;
	font-size: 15px;
	height: 20px;
	font-weight: bold;
}
#career td input{
	border-radius: 10px;
	border: none;
	height: 20px;
}
.review-list th, td{
	border : 1px solid #ddd;
	border-radius : 10px;
	font-size : 20px;
	font-weight : bold;
}
