@charset "UTF-8";
#main{
    margin: 0 auto;
    width: 1500px;
}
.search{
    text-align: center;
}
.searchlist{
    text-align: center;
}
.searchbar{
    font-size: 30px;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 5px;
}
.searchbox{
    font-size: 30px;
    width: 500px;
    border-radius: 10px;
    padding: 5px;
}    
.searchbtn{
    font-size: 30px;
    border-radius: 15px;
    background-color: #b2f2bb;
    width: 100px;
    padding: 5px;
    cursor : pointer;
    border : none;
}
.searchbtn button:hover{
	background-color:#1ED483;
}

.list{
	width : 1300px;
    text-align: center;
    font-size: 30px;
    margin : 0 auto;
    margin-top : 30px;
    border-collapse: collapse;
}
.list tr td{
    border: 1px solid black;
    padding: 2px;
}
.listhead{
    font-weight: bolder;
    background-color: #d9d9d9;
    
}
.page{
    text-align: center;
}
.pagination{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 50px;
}
.pagination li{
    display: inline;
    text-align: center;
}
.pagination a{
    float: left;
    display: block;
    border-radius : 8px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 12px;
    line-height: 1.5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
.back{
    margin-right: 15px;
}
.next{
    margin-left: 15px;
}
.head {
	text-align : center;
}
.btn {
	display : flex;
	justify-content : right;
	gap : 30px;
	margin-bottom : 20px;
}
.btn button {
	padding: 15px 25px;
	margin-right : 100px;
	border : none;
	border-radius : 10px;
	background-color : #b2f2bb;
	font-size : 25px;
	font-weight : bold;
	cursor : pointer;
}
.btn button:hover {
	background-color:#1ED483;
}
