@charset "UTF-8";
#main{
    margin: 0 auto;
    width: 1000px;
    margin-bottom : 60px;
    margin-top : 50px;
}
.emp{
    border-collapse: collapse;
    width: 1000px;
}
.info{
    border-collapse: collapse;
    width: 1000px;
}
.emp tr td{
    padding: 6px;
    font-size: 30px;
}
.info tr td{
    padding: 6px;
    font-size: 30px;
}
.empinf{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    font-weight: bolder;
}
.datainf{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    font-weight: bolder;
}
.empdata{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    
}
.bossdata{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    
}
.reportemp button{
    border-radius: 15px;
    height: 40px;
    width: 140px;
    font-size: 20px;
    background-color: #1ED483;
    font-weight: bolder;
}
.reportinfo button{
    border-radius: 15px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #d9d9d9;
    font-weight: bolder;
}
.empbtn{
    margin: 15px 0px 0px 400px;
}
.empbtn button {
	cursor : pointer;
	background-color: #b2f2bb;
	border : none;
	margin : 15px 30px;
}
.empbtn button:hover {
	background-color : #1ed483;
}
.bossbtn button{
    margin: 15px 0px 0px 450px;
    border : none;
    cursor : pointer;
    background-color: #b2f2bb;
    
}
.bossbtn button:hover{
	background-color : #1ed483;
}
.reportboss{
    margin-top: 100px;
}