@charset "UTF-8";
#main{
    margin: 0 auto;
    width: 1000px;
    margin-top : 60px;
    margin-bottom : 70px;
}
.emp{
    border-collapse: collapse;
    width: 1000px;
}
.boss{
    border-collapse: collapse;
    width: 1000px;
}
.emp tr td{
    padding: 6px;
    font-size: 30px;
}
.boss tr td{
    padding: 6px;
    font-size: 30px;
}
.empinf{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    font-weight: bolder;
}
.bossinf{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    font-weight: bolder;
}
.empdata{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    
}
.bossdata{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    
}
.reportemp button{
    border-radius: 15px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
    border : none;
    cursor : pointer;
    margin : 20px 30px;
}
.reportemp button:hover {
	background-color : #1ed483;
}
.reportboss button{
    border-radius: 15px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
    border : none;
    cursor : pointer;
}
.reportboss button:hover {
	background-color : #1ed483;
}
.empbtn{
    margin: 15px 0px 0px 400px;
}
.bossbtn{
    margin: 15px 0px 0px 450px;
}
.reportboss{
    margin-top: 100px;
}