@charset "UTF-8";

main {
	width: 70%;
	margin: 0 auto;
}

.main-top{
	margin: 30px 0 30px 0;
	background-color: #b2f2bb;
	text-align: center;
	padding: 50px;
	border-radius: 25px;
}

.main-top p{
	font-size: 50px;
	font-weight: bolder;
}

.top-search select {
	width: 300px;
	height: 50px;
	border-radius: 10px;
	font-size: 25px;
	margin-right: 50px;
	cursor:pointer;
	border: 1px solid #d9d9d9;
}

.top-search button {
	width: 100x;
	height: 50px;
	font-size: 25px;
	background-color: #256b4c;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.main-bottom{
	margin: 30px;
}

.bottom-select{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	margin-bottom: 30px;
}

.bottom-select select{
	width: 130px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	
}

.bottom-content{
	display: flex;
	gap: 30px;
	justify-content: center;
	gap:100px;
	flex-direction: row;
	flex-wrap: wrap;
    align-content: center;
}

.profile-name{
	font-weight:bolder;
	text-decoration-line: none;
	color: #222;
}

.bottom-profile{
	background-color: #b2f2bb;
	border-radius: 15px;
	font-size: 22px;
	padding: 7px;
}

.bottom-profile img{
	border-radius: 15px;
}

.search-btn{
	cursor: pointer;
}
.search-btn:hover{
	background-color: #fff;
	color: #256b4c;
}