.main-container{
    width: 450px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
        
.main-container h2{
    text-align: center;
}
.inputTag input{
    padding:  15px;
    margin: 5px;
    border-radius:  4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius:10px;
}
.loginBtn  {
    text-align: center;
    margin: 10px;
}
.loginBtn button{
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #b2f2bb;
    cursor:pointer;
}
.loginBtn button:hover{
	background-color:#1ED483;
}

.registerBtn {
    text-align: center;
    margin-bottom: 50px;
}
.registerBtn button{
    padding: 15px;
    width: 96%;
    border-radius: 20px;
    border: none;
    background-color: #b2f2bb;
    cursor:pointer;
}
.registerBtn button:hover{
	background-color:#1ED483;
}
.main-container button {
    font-weight: bold;
}