@charset "UTF-8";
main h1{
    font-size: 60px;
    text-align: center;
}
.main-content {
	display: flex;
}

#left-main{
    border-right: 1px solid black;
    width: 350px;
    text-align: center;
}

#left-main img{
	width: 150px;
	height: 150px;
	border: 1px solid #222;
	border-radius: 100px;
	margin: 0 auto;
}

.imgbtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin: 15px;
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
    border: none;
}
.modifybtn {
	cursor : pointer;
}
.deletebtn {
	cursor : pointer;
}
#information {
    font-size: 30px;
    margin: 15px 30px 30px 100px;
    text-align: start;
    font-weight: bolder;
}
.modifybtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;
 	border: none;   
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
}
.deletebtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;           
    font-size: 20px;
    background-color: #b2f2bb;
    font-weight: bolder;
    border: none;
}
#right-main{
    text-align: center;           
    width: 1000px;
    margin-left: 100px;
}
.hiretitle{
    text-align: left;
    margin:20px 0px -50px 30px;
    font-size: 25px;
    font-weight: bolder;
    width: 200px;
}

.writebtn{
    border-radius: 15px;
    height: 40px;
    width: 120px;           
    font-size: 15px;
    background-color: #b2f2bb;
    font-weight: bolder;
    margin: 15px 0px 15px 450px;
    border: none;
    cursor : pointer;
}
.writebtn:hover {
	background-color: #1ED483;
}
.hirename1{
	width: 800px;
    font-weight: bolder;
    border-bottom: 10px;
}

.hirename1 a{
	text-decoration-line: none;
	color: #1ED483;
}

.hireplace1{
    margin-bottom: 30px;
    border: 1px solid black;
    width: 800px;
    border-radius: 10px;
}

.hireplace1 a{
	text-decoration-line: none;
	color: #1ED483;
	font-weight: bolder;
}

.chatbtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #b2f2bb;
    border: none;
}
.ybtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #b2f2bb;
    border: none;
}
.nbtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #b2f2bb;
    border: none;
}
.employeedata{
    text-align: left;
    margin-left: 20px;
    display: flex;
   margin-bottom: 3px;
}
.btn{
    margin-left: 500px;
}
.picktitle{
    text-align: left;
    margin:20px 0px -50px 30px;
    font-size: 25px;
    font-weight: bolder;
    width: 230px;
}
.pickplace{
    border: 1px solid black;
    width: 800px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin-top: 80px;
}
.pickplace td{
	border-top: 1px solid black;
}
.employeeinfo{
    width: 200px;
    margin: 10px;
    font-weight: bold;
}

.hirename1 table, .pickplace table  {
	width: 100%;
}

table td,th {
	font-align: left;
	width: 25%;
}

button:hover{
	background-color: #1ED483;
}
.reloadfile{
	border: 1px solid #eee;
	background-color: #eee;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 10px;
  	margin:10px 0px 0px 50px;
  	width:230px;
}
input[type=file]::file-selector-button{
	width: 100px;
  	height: 20px;
 	background: #b2f2bb;
  	border: 1px solid #eee;
 	border-radius: 10px;
 	cursor: pointer;
 	font-weight: bold;
}
input[type=file]::file-selector-button:hover{
	background-color: #1ed483;
}
.tabletitle{
	background-color: #b2f2bb;
}
form buttom {
	border-radius : 10px;
}
