@charset "UTF-8";
h1{
    font-size: 60px;
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
}
#left-main{
    border-right: 1px solid black;
    width: 350px;
    text-align: center;
    
}
.imgbtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin: 15px;
    font-size: 20px;
    background-color: #1ED483;
    font-weight: bolder;
}
#information {
    font-size: 30px;
    margin: 15px 30px 30px 100px;
    text-align: start;
    font-weight: bolder;
}
.modifybtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;
    
    font-size: 20px;
    background-color: #1ED483;
    font-weight: bolder;
}
.deletebtn{
    border-radius: 20px;
    height: 40px;
    width: 120px;           
    font-size: 20px;
    background-color: #1ED483;
    font-weight: bolder;
}
#right-main{
    text-align: center;           
    width: 1000px;
    margin-left: 100px;
}
.hiretitle{
    text-align: left;
    margin:20px 0px -50px 30px;
    font-size: 25px;
    font-weight: bolder;
    width: 200px;
}

.writebtn{
    border-radius: 15px;
    height: 40px;
    width: 120px;           
    font-size: 15px;
    background-color: #1ED483;
    font-weight: bolder;
    margin: 15px 0px 15px 450px;
    
}
.hirename1{
    font-weight: bolder;
}
.hireplace1{
    border: 1px solid black;
    width: 800px;
    height: 150px;
    border-radius: 10px;
    
}
.chatbtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #1ED483;
}
.ybtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #1ED483;
}
.nbtn{
    border-radius: 15px;
    height: 25px;           
    font-size: 14px;
    background-color: #1ED483;
}
.employeedata{
    text-align: left;
    margin-left: 20px;
    display: flex;
    margin-bottom: 3px;
}
.btn{
    margin-left: 500px;
}
.picktitle{
    text-align: left;
    margin:20px 0px -50px 30px;
    font-size: 25px;
    font-weight: bolder;
    width: 230px;
}
.pickplace{
    border: 1px solid black;
    width: 800px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    margin-top: 80px;
    font-weight: bold;
}
.employeeinfo{
    width: 200px;
    margin: 10px;
    font-weight: bold;
}
